.input-price::-webkit-outer-spin-button,
.input-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  margin: 300px auto;
  width: 300px;
}

.input-price {
  display: block;
  margin: 5px 15px;
  padding: 15px 44px 15px 15px;
  border: 3px solid rgb(43, 0, 235);
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.form-price::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: gray;
}

.input-price:focus {
  background: white;
  border: 3px solid rgb(3, 199, 3);
  color: rgb(31, 30, 30);
}

.current-price {
  display: inline-block;
  margin: 5px 15px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.remove-button {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  min-height: 18px;
  min-width: 18px;
  border: 1px solid gray;
  border-radius: 50%;
}

.price-error {
  border: 3px solid rgb(255, 72, 0);
}

.error {
  display: none;
  margin: 5px 15px;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 14px;
  color: rgb(255, 72, 0);
}
