@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
}
.header-logo {
    margin-top: 63px;
}
.header-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}
.header-logo > a > span{
    color: #4BCAFF
}
.header-menu {
    margin-top: 38px;
    background: #35444F;
    width: 100%;
}
.header-menu-ul{
    display: flex;
    justify-content: center;
}
.header-menu-items {
    padding: 24px 33px 24px 33px;
    border-right: 1px solid #ffffff;
}
.header-menu-items:hover {
    background-color: #222F3A;
}
.header-menu .header-menu-functional {
    border-left: 1px solid white;
}
.header-menu-link {
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.content-section {
    margin-top: 48px;
}
.main-section-content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.section-aside {
    min-width: 344px;
    max-height: 399px;
    border: 1px solid #000000;
    margin-right: 52px;
}
.section-aside-items {
    padding: 26px 0 26px 42px;   
}
.section-aside-items:hover {
    background: #DBDBDB;
    padding: 26px 0 26px 57px; 
}   

.section-aside-items >a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.section-aside-items >a:hover {
    font-size: 27px;
    line-height: 27px;
    color: #000000;
}

.section-main-img {
    padding: 75px 280px;
    border: 1px solid #000000;
}
.section-main-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 37px;
}
.section-main-text > p {
    padding-bottom: 37px
}
.footer {
    background: rgba(99, 105, 110, 0.48);
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer-menu-items {
    padding: 10px;
}
.footer-menu-items:hover {
    border-bottom: 1px solid #3181A6;
}
.footer-menu-items > a {
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu-items > a:hover {
    color: #3181A6;
}
.copyright-text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-top: 12px;
}


