.footer {
  background-color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 38px 35px 47px;

  &-description {
    margin-top: 8px;
    max-width: 684px;
  }

  &-icon-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    a {
      display: inline-block;
      height: 34px;
      width: 34px;
      margin: 3px;

      &:hover,
      &:active {
        transform: scale(1.1);
      }
    }
  }

  &-address-list {
    font-size: 1.167rem;
    line-height: 2rem;
    li::after {
      content: "/";
      margin-left: 10px;
    }
    li:last-child::after {
      content: "";
    }
    a {
      @include animate-text-color;
    }
    a:hover,
    a:focus {
      color: $hover-text-color;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .footer {
    padding: 0 calc(50% - 342px);
    padding-bottom: 56px;
    padding-top: 56px;

    &-description {
      font-size: 1.14rem;
    }

    &-address-list {
      display: flex;
      gap: 10px;
    }
  }
}
