@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
   font-family: 'Montserrat', sans-serif;
}

.container {
   width: 1160px;
   margin: 0 auto;
   padding: 80px 0 80px 0;
}
.container-p-none {
   padding: 0;
}

.header-position {
   position: absolute;
   top: 0;
   width: 100%;
}
.header-bg {
   background: rgba(94, 93, 88, 0.6);
   padding: 27px 0 0 0;
}
   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
      .menu {
         display: flex;
         gap: 21px;
      }
      .menu_search {
         display: flex;
         align-items: center;
         gap: 21px;
      }
      .header-search-btn {
         background: rgba(94, 93, 88, 0);
         border: none;
         cursor: pointer;
         color: rgba(255, 255, 255, 0.6);
         font-size: 17px;
      }

      .header-search-btn:hover {
         color: #18CFAB;
      }
      .menu_link {
         font-weight: 700;
         font-size: 16px;
         line-height: 24px;
         text-transform: uppercase;
         color: rgba(255, 255, 255, 0.6);
      }

.main-banner {
   height: 1020px;
   background: url(../img/bg-main.jpg) center center/100% no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}


.banner-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 22px;
}
.sub-main-title {
   font-weight: 700;
   font-size: 35px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.sub-title-green {
   color: #18CFAB;
}

.main-title {
   font-size: 78px;
}

.main-descr {
   font-weight: 400;
   font-size: 34px;
   color: #D4D4D4;
}

.two-title-btn {
   margin-top: 30px;
   display: flex;
   gap: 26px;
}

.main-btn {
   padding: 17px;
   background: #18CFAB;
   border: none;
   border-radius: 3px;
   box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
   color: white;
   cursor: pointer;
   font-size: 15px;
   font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.main-btn-blue {
   background: #00CBF6;
   box-shadow: 0px -5px 0px 0px rgb(204, 204, 204);
}

.main-btn:hover {
   background:#0d836b;
   box-shadow: 0px -5px 0px 0px rgb(204, 204, 204);
}

.main-btn-blue:hover {
   background: #028aa5;
}

.flex-container {
   display: flex;
}
.four-block {
   display: flex;
   background-color: #1C2A33;
   gap: 20px;
   width: 100%;
   height: 360px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.four-block-title {
   font-weight: 700;
   font-size: 20px;
   color:#18CFAB;
   text-transform: uppercase;
}
.four-block-title:nth-child(2n) {
   color: white;
}
.green-block {
   background-color: #18CFAB;
}

.title {
   font-weight: 400;
   font-size: 36px;
   color: #4E4E4E;
}

.title-block {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.title-dec {
   display: flex;
   flex-direction: column;
   gap: 5px;
   align-items: center;
   margin-top: 24px;
}

.title-dec-items {
   width: 79px;
   height: 1px;
   left: 0px;
   top: 0px;
   border: none;
   background: #18CFAB;
   margin: 0;
}

.title-dec-items:last-child {
   margin-left: 25px;
}
.os-nav-block {
   margin-top: 69px;
   display: flex;
   flex-direction: column;
}
.work-nav {
   margin-top: 69px;
   display: flex;
}
.work-nav-items {
   padding: 20px 40px;
   white-space: nowrap;
   color: #717171;
   cursor: pointer;
   background: rgba(255, 255, 255, 0);
   border: 1px solid #DADADA;
}
.os-nav {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.os-nav-items {
   padding: 20px 40px;
   background: #F8FCFE;
   border: 1px solid #EDEFEF;
   white-space: nowrap;
   color: #717171;
   cursor: pointer;
}

.os-nav-descr.active{
  display: flex;
  gap: 15px;
  text-align: justify;
}

.os-nav-items.active {
   position: relative;
  background-color: #18cfab;
  color: #fff;
  border: 1px solid #18cfab;
}

.os-nav-items.active::after{
   content: '';
   position: absolute;
   top: 100%;
   left: calc(50% - 15px);
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 15px solid #18cfab;
}

.work-nav-items.active {
   position: relative;
  background-color: #18cfab;
  color: #fff;
  border: 1px solid #18cfab;
}

.work-nav-items.active::after{
   content: '';
   position: absolute;
   top: 100%;
   left: calc(50% - 15px);
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 15px solid #18cfab;
}

.os-nav-items:hover {
   border: 1px solid #18cfab;
}
.work-nav-items:hover {
   border: 1px solid #18cfab;
}

.os-nav-descr {
   display: none;
   column-gap: 16px;
   margin-top: 28px;
}

.light-font { 
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
}

.cto-bg {
   background: url(../img/cto-bg.png) center center/100% no-repeat;
   height: 477px;
   display: flex;
   align-items: center;
}
.cto-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.cto-descr {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #D8D8D8;
   text-align: center;
}

.btn-margin {
   margin-top: 60px;
}


.amazing-bg-color {
   background: #E9EDEF; 
}

.amazing-new-style {
   background: rgba(255, 255, 255, 0);
   border: 1px solid #DADADA;
}

.work-img-conteiner {
   display: flex;
   flex-wrap: wrap;
   margin-top: 71px;
}
.hide {
   display: none;
}

.gap-none {
   gap: 0;
}

.lm-correct {
   display: flex;
   align-items: center;
   gap: 10px;
}

.bnews-title {
   font-weight: 700;
   font-size: 18px;
   color: #717171;
}
.bnews-descr {
   font-weight: 300;
   font-size: 14px;
   color: #777777;
}

.label {
   position: relative;
}
.label-info {
   position: absolute;
   width: 70px;
   height: 68px;
   background: #203E38;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.label-date {
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #FFFFFF;
}

.comment-bg {
   background: url(../img/comment-bg.png) center center/100% no-repeat;
   height: 853px;
   position: relative;
}

.white-title {
   color: white;
}

.avatar-circle {
   margin: 30px 0;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid rgba(31, 218, 181, 0.3);
}

.carousel-conteiner {
   display: flex;
   gap: 43px;
   align-items: center;
}

.btn-arrow {
   display: flex;
   height: 31px;
   width: 31px;
   font-size: 19px;
   color: #BBBBBB;
   border: 1px solid #BBBBBB;
   background: none;
   cursor: pointer;
   align-items: center;
   justify-content: center;
}

.btn-arrow:hover {
    color: #fff;
    background-color: #18CFAB;
    border: none;
}

.avatar-conteiner {
   display: flex;
   justify-content: space-evenly;
   gap: 20px;
}
.avatar-small {
    position: relative;
    bottom: 0;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid rgba(31, 218, 181, 0.3);
    transition: all 500ms ease-out;
    opacity: 1;
}

.footer-bg {
   height: 121px;
}
.mb-none {
   padding: 43px;
}

.no-wrap {
   flex-wrap: nowrap;
}

.menu_link:hover {
   border-bottom: 2px solid #18CFAB;
   color:#18CFAB;
   padding-bottom: 37px;
}

.logo {
   margin-bottom: 27px;
}

.breaking-news:hover .label-info {
   background-color: #18CFAB;
}

.breaking-news:hover .bnews-title {
   color: #18CFAB;
}

.work-img-hover {
   display: none;
   background-color: #E9EDEF;
   width: 286px;
   height: 207px;
   position: absolute;
   border-top: 2px solid #18CFAB;
}

.work-img {
   position: relative;
   margin-bottom: -3px;
}

.work-img:hover .work-img-hover{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
}

.work-img-circle {
   display: inline-block;
   border: 2px solid #18CFAB;
   display: flex;
   border-radius: 100px;
   padding: 10px;
   width: 43px;
   height: 43px;
   align-items: center;
   justify-content: center;
   color: #18CFAB;
}
.work-img-title {
   font-weight: 700;
   font-size: 14.1771px;
   line-height: 25px;
   text-transform: uppercase;
   color: #18CFAB;
}

.work-img-decr {
   font-weight: 300;
   font-size: 12.1518px;
   color: #8A8A8A;
}
.circle-green {
   background-color: #18cfab;
   color: white;
}
.footer-copyright {
   font-size: 16px;
   font-weight: 400;
   color: #777777;
}


.footer {
   height: 300px;
}

.review-conteiner{
  display: flex;
  justify-content: space-between;
  width: 490px;
  align-items: center;
}

.avatar-conteiner {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.avatar-small {
  position: relative;
  bottom: 0;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid rgba(31, 218, 181, 0.3);
  transition: all 500ms ease-out;
  opacity: 1;
}

.avatar-large {
  margin: 50px auto;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  overflow: hidden;
  border: 12px solid rgba(31, 218, 181, 0.3);
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.avatar-small.active{
  position: relative;
  bottom: 12px;
}


.avatar-circle.animate{
  -moz-animation: rotationCircle .5s infinite linear;
  -o-animation: rotationCircle .5s infinite linear;    
  -webkit-animation: rotationCircle .5s infinite linear;
  animation: rotationCircle .5s infinite linear;
}

@keyframes rotationCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

