body {
      margin: 0;
      padding: 0;
      background-image: url(../img/1.jpg);
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: black;
    }
    .button {
      position: absolute;
      left: calc( 50% - 200px);
      top: 150px;
      background-color: #00a700;
      color: white;
      text-align: center;
      font-size: 25px;
      padding: 20px;
      width: 450px;
      cursor: pointer;
      border: 5px solid white;
      cursor: pointer;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
    }
    .container {
        display: block;
        margin-top: 70px;
        min-width: 50px;
        color: white;
    }
    .container span {
        font-size: 18px;
        background-color: white;
        color: red;
        font-weight: bold;
    }