body {
    background-color:#171717 ;
    color: #FFFFFF;
}
.main-header {
    padding-top: 37px;
}
.container {
    width: 80%;
    margin: 0 auto;

}
.flex-align-center {
    display: flex;
    align-items: center;
}

.main-header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.burger-menu-btn {
    background-color: transparent;
    border: none;
}
.text-highlighted {
    color: #D6AF76;
}
.callback-btn {
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 25px;
    border: 1px solid #E4B564;
    background-color: transparent;
    margin-left: 39px;
}
.callback-btn svg {
    margin-right: 8px
}
.breadcrumbs {
    width: 100%;
    display: flex;
    font-size: 18px;
    line-height: 13px;
    color: #606060;
    margin-top: 67px;
}
.breadcrumbs a {
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #606060;
}

.section-two{
    margin-top: 136px;
}
.services-title {
    font-family: Gilam;
    font-weight: bold;
    font-size: 50px;
    line-height: 28px;
}
.services-list {
    font-size: 16px;
    line-height: 28px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 74px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 468px 468px;
    gap: 27px 35px;
}

.gird-item-1,
.gird-item-2,
.gird-item-3,
.gird-item-4,
.gird-item-5 {
    background-image: url(../img/1\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gird-item-1 {
    grid-area: 1/1/2/3;
}

.gird-item-2 {
    grid-area: 1/3/2/5;
}

.gird-item-3 {
    grid-area: 1/5/2/7;
}

.gird-item-4 {
    grid-area: 2/1/3/4;
}
.gird-item-5 {
    grid-area: 2/4/3/7;
}