body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
a {
    text-decoration: none;
}
.container {
    width: 1110px;
    margin: 0 auto;
    /* width: 80vw; */
}
.menu-link {
font-size: 14px;
line-height: 16px;
color: #333333;
}
.menu-item {
display: inline-block;
margin-right: 30px;
}
.header-menu {
text-align: center;
margin: 0;
padding: 16px;
background-color: #E5E5E5;
}
.logo-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    /* Accent */
    color: #F13C6E;
}
.input-search {
    width: 250px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 40px;
    border: none;
    margin-right: 93px;
}
.header-contact {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 63px;
    display: inline-block;
}
.btn-callback {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 12px 26px;
}
.category-menu {
    text-align: center;
    border-top: 1px solid #EFEFEF;
    padding: 30px;
}
.category {
    font-size: 16px;
    color: #000000;    
}
.category-item {
    display: inline-block;
    margin-left: 40px;
}
.sale-section{
    background-image: url("../img/first-section-bg.png");
    box-sizing: border-box;
    padding-top: 192px;
    padding-bottom: 193px;
    background-size: cover;
}
.title-sale{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.text-sale{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 308px;
}
.btn-sale{
    font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.05em;
color: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 40px;
padding: 12px 27px;
margin-top: 50px;
display: inline-block;
}
