body {
    font-family: 'Ubuntu', sans-serif;
    background: url(../image/bg.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.background-color {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 18px 79px 0 79px;
}
.logo-header {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo-header:hover {
    color:#3CB878;
}

.header-icons {
    margin: 0 0 0 auto;  
}
.header-icons > a {
    margin-left: 27px;
    display: inline-block;
}

.icon-header {
    display: block;
    width: 24px;
    height:24px;
    padding: 0 0 0 12px;
}

.icon-calendar {
    background :url(../icons/calendar.svg) center center/80%  no-repeat;
}
.icon-calendar:hover {
    background :url(../icons/calendar-h.svg) center center no-repeat;
}

.icon-email {
    background :url(../icons/email.svg) center center/90% no-repeat; 
}
.icon-email:hover {
    background :url(../icons/email-h.svg) center center no-repeat;
}
.icon-gps {
    background :url(../icons/gps.svg) center center/90%  no-repeat;
    margin-right: 52px;
}
.icon-gps:hover {
    background :url(../icons/gps-h.svg) center center no-repeat;
}

.icon-gps::after {
    content: '';
    display: inline-block;
    margin: 0 0 2px 37px;
    width: 1px;
    height: 21px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.login-sigin {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0 auto;
}
.login-sigin > a {
    color:white;
}
.login-sigin > a:hover {
    color:#3CB878;
}
.log-sig {
    margin-top: 3px;
}


.main-section {
    text-align: center;
}

.form-white-block {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    text-align: center; 
    margin: 54px 0 74px 0; 
    padding: 33px 61px;
}

.decor-green-block {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 32px;
    background: #3CB878;
}

.form-container {
    width: 322px;
}

.form-container > h2 {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.login-link-form {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.login-link-form:hover {
    color:#01813F;
    border-bottom: 1px solid #01813F;
}


.title-form {
    display: flex;
    justify-content: space-between;
}
.social-network-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-facebook {
    background-color: #305DB8;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    width: 158px;
    height: 48px;
}

.btn-facebook:first-child:hover {
    background-color: #022263;
}
.btn-facebook:last-child:hover {
    background-color: #AB1F09;
}
.btn-facebook > span > i {
    font-size: 22px;
}

.icon {
    border-right: 1px solid rgba(10, 22, 47, 0.2);
    margin-right: 18px;
    padding-right: 15px;
}

.btn-google {
    background: #DF4A32;
}
.dec-or {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
.dec-or-line {
    display: flex;
    width: 100%;
    color: #F2F2F2;
    opacity: 0.2;
}
.dec-or > span {
    padding: 0 5px;
    font-size: 14px;
    color: #848484;
}

.form-list {
    display: flex;
    flex-wrap: wrap;
}

.form-input {
    width: 100%;
    height: 44px;
    margin-top: 16px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 14px;
    color: #434343;
}
.form-input:focus {
    outline: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343 ;
}

.checkbox-section {
    position: relative;
    margin-top: 12px;
}

.terms-conditions-chkb {
    margin-top: 12px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
  .checkbox-other {
    display: block;
    margin: 0 0 20px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-top: 12px;
}
.checkbox-other input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 25px;   
}
.custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid #F2F2F2;
    left: 0;
    top: 0;
}

.checkbox-other input[type=checkbox]:checked + .custom-checkbox:before {
    background: url(../icons/check.svg) center center/80% no-repeat;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.custom-checkbox > a {
   color:seagreen;
}
.custom-checkbox > a:hover{
    color:#01813F;
    border-bottom: 1px solid #01813F;
}

.form-btn {
    width: 324px;
    height: 46px;    
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.form-input::placeholder {
    color:#BEBEBE;
}
.form-btn:hover {
    background-color:#01813F; 
}

