// Colors
$basic-text-color: #5c5c5c;
$menu-bg-color: #f5f5f5;
$highlight-text-color: #57a4a4;
$hover-text-color: #44bdbd;

// Breakpoints
$mobile-small: 320px;
$mobile-normal: 480px;
$tablet-width: 780px;
$desktop-width: 1200px;

// style section
$padding-cont-size-desk: 0 calc(50% - 585px);
$padding-cont-size-tab: 0 calc(50% - 384px);

//variabless
$img-gap: 9px;
