.style-input:focus {
    outline: 1px solid green;
}
.style-green {
    color: green;
}

.style-red {
    outline: 2px solid red;
}

.error-text {
color: red;
}

.styles-paragraph {
   margin-right: 10px; 
}
.container {
    margin-bottom: 15px;
}
.closed-btn {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
}