@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: #fff;
    --text-color: #373737;
    --list-link-color:  rgb(245, 24, 0);
    --header-menu-color: #35444F;
    --white-color: #35444F;
    --menu-text: white;
  }
  
  [data-theme="dark"] {
    --background-color: #35444F;
    --text-color: #fff;
    --list-link-color:  #75a001;
    --header-menu-color: white;
    --white-color: white;
    --menu-text: #373737;
  }

body {
background-color: var(--background-color);
color: var(--text-color);
} 

.container {
    width: 1280px;
    margin: 0 auto;
}
.header-logo {
    margin-top: 63px;
}
.header-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: var(white-color);
}
.header-logo > a > span{
    color: #4BCAFF
}
.header-menu {
    margin-top: 38px;
    background: var(--header-menu-color);
    width: 100%;
}
.header-menu-ul{
    display: flex;
    justify-content: center;
}
.header-menu-items {
    padding: 24px 33px 24px 33px;
    border-right: 1px solid #a3a3a3;
}
.header-menu-items:hover {
    background-color: var(--white-color);
}
.header-menu .header-menu-functional {
    border-left: 1px solid var(--white-color);
}
.header-menu-link {
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: var(--menu-text);
}
.content-section {
    margin-top: 48px;
}
.main-section-content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.section-aside {
    min-width: 344px;
    max-height: 399px;
    border: 1px solid var(--white-color);
    margin-right: 52px;
}
.section-aside-items {
    padding: 26px 0 26px 42px;   
}
.section-aside-items:hover {
    background: #DBDBDB;
    padding: 26px 0 26px 57px; 
}   

.section-aside-items >a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: var(--text-color);
}
.section-aside-items >a:hover {
    font-size: 27px;
    line-height: 27px;
    color: var(--white-color);
}

.section-main-img {
    padding: 75px 280px;
    border: 1px solid var(--white-color);
}
.section-main-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
    padding-top: 37px;
}
.section-main-text > p {
    padding-bottom: 37px
}
.footer {
    background:var(--white-color);
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer-menu-items {
    padding: 10px;
}
.footer-menu-items:hover {
    border-bottom: 1px solid #3181A6;
}
.footer-menu-items > a {
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu-items > a:hover {
    color: #3181A6;
}
.copyright-text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    color: var(--white-color);
    padding-top: 12px;
}


.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 66px;
    margin-bottom: 82px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 165px;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    background: black;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
  }
  
  .button:hover {
    background: rgb(42, 42, 42);
  }
  .button:active {
    background: rgb(30, 152, 0);
  }
  
  .btn-wrapper {
    position: absolute;
    top: 0;
    right: 120px;
  }

