.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.hide-img {
  display: none;
}

.btn-conteiner{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.button {
  border: none;
  border-radius: 7px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-main {
  background-color: green; 

}

.button-danger {
  background-color: red; 
}


.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}