
body {
    background: url(../img/bg/background.png) no-repeat center top / cover;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1022px;
    margin: 0 auto;
}
.header-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 46px;
}
.logo {
    display: flex;
    flex-wrap: wrap;
}
.logo-img {
    display: block;
    width: 53px;
    height: 47px;
    background-image: url(../img/logo-3.svg);
}

.logo:hover .logo-img{
    background-image: url(../img/logo-orange.svg);
}
.logo:hover .logo-text {
    color: #F26522;
}
.logo:hover .logo-text span {
    color: #F26522;
}

.logo-text {
    margin: 3px 0 0 8px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.logo-text > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: table-cell;
}

.header-contact {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.header-contact > a {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.heder-mail:hover {
    color: #F26522;
}
.heder-phone:hover {
    color: #F26522;
}


.img-block {
    position: relative;
    display: block;
}

.heder-phone {
   margin-top:19px;
   margin-left: auto;
}
.six-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.six-blocks {
    margin-top: 26px;
}
.link {
    margin-top: 30px;
}
.hover-orange-plaque {
    display:flex;
    flex-wrap: wrap;
    height: 55px;
    background-color: #F26522;;
    position: absolute;
    margin-top: 164px;
    width:300px;
    
    /* Disconnect the orange block */
    
    opacity: 0;
}
.hover-details-btn {
    margin-left: auto;
}

.left-part {
    margin: 9px 0 0 16px;
    display:flex;
    flex-direction:column;
}
.left-part > span:first-child {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.hover-price {
    margin-top: 8px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.hover-details-btn  {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 31px;
    margin-right: 8px;
}
.hover-details-btn::after {
    content: "";
    padding-right: 16px;
    background: url("../icons/arow.svg") no-repeat center center;
    display: inline-block;
    width: 7px;
    height: 10px;
}
.main-link {
    width: 300px;
    position: relative;
    height: 55px;
}

.card-title {
    position: absolute;
    margin-top: 20px;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.link:hover .hover-orange-plaque{
    opacity: 100%;
    
}
.link:hover .card-title {
    color: #F26522; 
}
.copyright {
    margin: 37px 0 15px 0;
}
.copyright > p {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}
