@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: "Open Sans", "Roboto", sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #313131;
    padding: 22px 0 22px 0;
}
.header-logo {
    display:flex;
    margin-left: 25px;
}
.logo-text {
    padding-top: 1px;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-left:20px;
}

.menu {
    display: flex;
}
.menu_item {
    padding-right: 35px;
}
.menu_item > a {
    /* font-family: "Open Sans", sans-serif; */
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.menu_item > a:hover {
    color: #14B9D5;
}
.header-search-btn {
    width: 68px;
    height: 70px;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.header-search-btn:hover {
    background-color: #14B9D5;
}
.transparent-bg-color {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.main-banner {
    height: 369px;
    background: url(../img/bg/header-bg-min.jpeg) center center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
}
.main-title {
    margin-top: 160px; 
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.main-btn {
    margin-top: 44px;
}
.main-green-btn {
    background: #89CA62;
    padding: 15px 19px;
    border-radius: 3px;
    border:none;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 10px;
    cursor: pointer;
}
.main-blue-btn {
    background: #14B9D5;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.mpp-section {
    background-color: #F2F2F2;
    padding-bottom: 74px;
}
.pop-post-title {
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;

}
.pop-post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 830px;
    margin-top: 52px;
    gap: 30px;
}
.pop-post-items {
    display: flex;
    flex-direction: column;

}
.pop-post-items > a {
    background-color: white;
    padding: 20px ;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}

.col-right {
    flex: 0 0 250px;
}
.our-client-section {
    background: url(../img/bg/parallax-bg-min.jpeg) center center/cover no-repeat;
    height: 588px;
    background-attachment: fixed;
    display: grid;
}
.our-client-title {
    margin-top: 108px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.our-client-decorline {
    border: none;
    width: 60px;
    height: 3px;
    left: 920px;
    background: #18B4CF;
    margin-top: 87px;
}
.our-client-logo {
    margin-top: 107px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    align-items: center;
}
.top-rated-title {
    margin-top: 49px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.top-rated-grid {
    margin-top: 52px; 
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.top-rated-grid > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hot-news-grid {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.hot-news-grid-descr {
    background: #F9F7F7;
    padding: 41px 24px 41px 0;    
}
.hot-news-sub-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}
.hot-news-grid-descr > p {
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.hot-news-grid-item-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: 1 / 1 / 2 / 4;
}
.img-hot-new-1 {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.hot-news-grid-item-2 {
    grid-area: 1 / 4 / 2 / 5;
}
.title-center {
    text-align: center;
    background-color: #F9F7F7;
    padding: 14px 27px;
}
.hot-news-grid-item-3 {
    grid-area: 2 / 1 / 3 / 3;
}
.img-hot-new-2 {
    width: 100%;
    height: 57%; 
    object-fit: cover;
}
.hot-news-grid-item-4 {
    grid-area: 2 / 3 / 3 / 5;
}
.hot-news-grid-item-5 {
    grid-area: 3 / 1 / 4 / 3;
}

.hot-news-grid-item-6 {
    grid-area: 3 / 3 / 4 / 5;
}

.hot-news-grid-item-7 {
    grid-area: 4 / 1 / 5 / 2;
}

.hot-news-grid-item-8 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: 4 / 2 / 5 / 5;
}
.extra-space {
    margin-top: -4px;
}

.footer-bg {
    background-color: #000000;
    margin-top: 77px;
    width: 100%;
    height: 80px;
    padding: 29px 0 29px 0;    
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
      
}
.copyright-desc {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: left;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-logo {
    grid-area: 1 / 3 / 2 / 5;
    justify-self: right;
}



